.task-05 {
  height: 100vh;

  img {
    width: 100%;
    height: auto;

  }


  @media (max-width: 1024px) and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;

    img {
      width: 200px;
    }
  }

  @media (min-width: 1025px) {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 600px;

      }
    }
  }
